TELEGRAM_BOT_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
BTC_ADDRESS=
LTC_ADDRESS=
ETH_ADDRESS=
SOL_ADDRESS=
USDT_BEP20_ADDRESS=
USDT_TRC20_ADDRESS=
ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=
TRONGRID_API_KEY=
